# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Generated healthcare files
data/generated/

# Synthea output
data/synthea_output/

# Gradle
/synthea/
/synthea/**

# Python venv
venv/
.venv/

# Node
node_modules/synthea/
